*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding-left: 1px;
}
a{
    text-decoration: none;
}
p{
    margin: 16px 0;
}
h1{
    margin: 24px 0;
}
:root{
    --header-color: #1965ac;
    --search-color: #1e79ce;
    --bg-color: #080d14;
    --font-color: #e6e6e6;
    --table-color: #3d4146;
}
body, html {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: berserker;
    src: url(Berserker-Regular.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Sora:wght@300&display=swap');

/*HEADER*/

header{
    background-color: var(--header-color);
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo, .social-media{
    width: 25%;
}
.logo img{
    width: 200px;
    cursor: pointer;
}

.menu{
    width: 70%;
}
.menu a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
    font-family: 'Sora', sans-serif;
}
.menu nav a::after{
    content: "";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #000000, #000000);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}
.menu nav a:hover::after{
    width: 45px;
}

.social-media{
    display: flex;
    justify-content: flex-end;
}
.social-media .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.4s;
}
.social-media .social-link:hover{
    opacity: 0.8;
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#github{
    background: #171515;
}
#linkedin{
    background-color: #0d559c;
}
#youtube{
    background: #ff0909;
}
.social-media .social-link i{
    font-size: 25px;
    text-align: center;
}

/*SEARCH BAR*/

.bar{
    background-color: var(--search-color);
    padding: 15px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-image: radial-gradient(circle, rgba(31,125,213,1) 0%, rgba(25,101,172,1) 50%, rgba(27,51,106,1) 100%);
}
.search-bar, .search{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 30px;
}
.search input[type="text"]{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
    width: 500px;
}
.search button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 30px;
    min-width: 30px;
    color: white;
    background: var(--search-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}
.search button:hover{
    background: #114270;
}

/*LEFT MENU*/

.side-bar{
    background-color: var(--bg-color);
}
.toc{
    background-color: transparent;
    border: 1px solid var(--table-color);
    border-radius: 10px;
    font-size: 100%;
    margin: 5px;
}
.toctoggle{
    position: absolute;
    opacity: 0;
}
.toctitle{
    padding: 5px;
}
.toc .toctitle h2{
    align-items: center;
    color: var(--font-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5px;
    margin: 0;
    padding: 0;
}
.toc .toctitle h2 .uil{
    margin-right: 1px;
}
.toc ul li a{
    border-radius: 3px;
    color: var(--font-color);
    display: block;
    line-height: 1.75;
    padding: 2px 5px;
    text-decoration: none;
}
.toc ul li{
    margin-left: 12px;
    overflow-wrap: break-word;
}

/*CONTENT*/

.content{
    margin: auto;
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    background-color: #16202e;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    text-align: justify;
    color: #e6e6e6;
}

.main article h1{
    text-align: center;
    font-size: 30px;
    font-family: berserker;
    margin: 24px 0px;
}
figure{
    text-align: center;
    margin: 16px 40px;
}
main p{
    text-align: justify;
}

/*INFO TABLE*/

.nav-table{
    text-align: center;
    color: white;
}
section{
    background-color: #080d14;
}
.table-lateral{
    width: 200px;
    border: 1px solid var(--table-color);
    border-radius: 5.5px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    margin: 5px;
}
.table-lateral th{
    color: var(--font-color);
    border-bottom: 1px solid var(--table-color);
    padding: 0;
    margin: 0 auto;
}
.table-lateral td{
    color: var(--font-color);
    border-bottom: 1px solid var(--table-color);
    padding: 0;
    margin: 0 auto;
}
.date-row{
    background-color: #486572;
    font-weight: 500;
}

/*FOOTER*/

footer{
    border-top: 1px solid var(--font-color);
    background-color: var(--bg-color);
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--font-color);
    font-size: 15px;
}
.logo-footer img{
    width: 150px;
}
footer p{
    margin: 0 auto;
}
footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
footer p, #footer-copyright{
    text-align: center;
}
.footer-social-media{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer-social-media .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.4s;
}
.footer-social-media .social-link:hover{
    opacity: 0.8;
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#github{
    background: #171515;
}
#linkedin{
    background-color: #0d559c;
}
#youtube{
    background: #ff0909;
}
.social-media .social-link{
    font-size: 25px;
    text-align: center;
}
.uil{
    font-size: 25px;
}

/*========================================================= Padrão do Site ========================================================================*/
section{
    background-color: #080d14;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    background-color: #16202e;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    text-align: justify;
    color: #e6e6e6;
}
/*========================================================= Plot =========================================================================*/
.contents a{
    color: #e6e6e6;
    text-decoration: none;
}
.contents{
    margin-left: 0;
}

.content h3{
    margin-bottom: 10px;
}
h4{
    text-align: center;
}

hr{
    border-color: var(--table-color);
    margin: 8px 0px;
}
/*========================================================= Characters =========================================================================*/
.characters ul{
    display: flex;
    justify-content: space-around;
}
.characters ul p{
    text-align: center;
    margin: 0;
    padding-top: 0;
    font-family: berserker;
}
.characters ul li p{
    margin-bottom: 5px;
}
.characters .containe ul{
    display: flex;
    justify-content: space-around;
}

.char{
    width: 200px;
    border-radius: 10px;
}
.containe{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 200px;
    height: 200px;
}
.containe:hover .flip{
    transform: rotateY(180deg);
}
.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}

